{% extends 'app/vgm/index.html.twig' %}

{% block content %}

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            <p class="text-center">{{ message }}</p>
        </div>
    {% endfor %}
    <div class="block-header">
        <div class="row">
            <div class="col-lg-7 col-md-6 col-sm-12">
                <h2>Dashboard</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="index.html"><i class="zmdi zmdi-home"></i> Gestion des vgm</a>
                    </li>
                    <li class="breadcrumb-item active">Creation de la VGM</li>
                </ul>
                <button class="btn btn-primary btn-icon mobile_menu" type="button"><i
                            class="zmdi zmdi-sort-amount-desc"></i></button>
            </div>
            <div class="col-lg-5 col-md-6 col-sm-12">
                <button class="btn btn-success btn-icon float-right" data-toggle="modal" data-target="#addUserToModule"
                        type="button">
                    <i class="zmdi zmdi-account-add"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="header">
                        <h2>Ajout d'une nouvelle VGM</h2>

                    </div>
                    <div class="body">
                        <form method="post" enctype="multipart/form-data" id="createVGMForm">
                            <div class="form-group">
                                <div class="row">
                                    <label for="" class="col-sm-6">
                                        Exportateur
                                    </label>
                                    <select class="select form-control col-sm-6 " name="consignee">

                                        <option class="" value="0">Veuillez selectionnez l'exportateur</option>
                                        {% if consignataires|length >0 %}
                                            {% for consignataire in consignataires %}
                                                <option value="{{ consignataire.id }}">{{ consignataire.label }}</option>
                                            {% endfor %}
                                        {% else %}
                                            <option class="" value="0">Veuillez selectionnez le consignataire</option>
                                            <option value="0" disabled>Aucun consignataire</option>
                                        {% endif %}

                                    </select>
                                </div>

                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <label for="" class="col-sm-6">
                                        Numéro d'agrément de l'exportateur

                                    </label>
                                    <input type="text" name="agreementNumber" placeholder=" Agreement Number" class="form-control col-sm-6" id="agreementNumber">
                                </div>

                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <label for="" class="col-sm-6">
                                        Numéro DVT
                                    </label>
                                    <input type="text" name="dvtNumber" placeholder=" tvfNum" class="form-control col-sm-6" id="dvtNumber">
                                </div>

                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <label for="" class="col-sm-6">
                                        Date du DVT
                                    </label>
                                    <input type="date" name="dvtCreatedAt" placeholder="tvfDate" class="form-control col-sm-6" id="tvfDate">
                                </div>

                            </div>

                            <div class="form-group">
                                <div class="row">
                                    <label for="" class="col-sm-6">
                                        Numéro de conteneur

                                    </label>
                                    <input type="text" class="form-control col-sm-6" id="searchBox" name="containerNum" placeholder="ContainerNum">
                                </div>

                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <label for="" class="col-sm-6">
                                       CargoType
                                    </label>
                                    <select class="select form-control col-sm-6" name="cargoType">
                                        <option value="0" default>Selectionnez le type de conteneur</option>
                                        {% for conteneur in conteneurs  %}
                                            <option value="{{ conteneur.id }}">{{conteneur.label}}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <label for="" class="col-sm-6">
                                      containerSize
                                    </label>
                                    <select class="select col-sm-6 form-control" name="containerSize">
                                        <option value="0" default>Veuillez selectionnez la taille du conteneur</option>
                                        <option value="20">Conteneur de 20 Pieds</option>
                                        <option value="40">Conteneur de 40 Pieds</option>
                                    </select>
                                </div>

                            </div>

                            <div class="form-group">
                                <div class="row">
                                    <label for="" class="col-sm-6">
                                       Poids Net
                                    </label>
                                    <input type="number" placeholder="netWeight" name="netWeight" class="form-control col-sm-6" id="netWeight">
                                </div>

                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <label for="" class="col-sm-6">
                                        Poids à vide

                                    </label>
                                    <input type="number"  placeholder="TareWeight" name="tareWeight" class="form-control col-sm-6"  id="tareWeight">
                                </div>

                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <label for="" class="col-sm-6">
                                       Booking
                                    </label>
                                    <input type="text" name="booking" placeholder=" Numero d'espace réservé dans le navire" class="form-control col-sm-6" id="booking">
                                </div>

                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <label for="" class="col-sm-6">
                                        Plomb

                                    </label>
                                    <input type="text" name="sealNum" placeholder="sealNum" class="form-control col-sm-6" id="waybill">
                                </div>

                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <label for="" class="col-sm-6">
                                        Numéro de connaissement

                                    </label>
                                    <input type="text" name="wayBill" placeholder="WayBill" class="form-control col-sm-6" id="waybill">
                                </div>

                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <label for="" class="col-sm-6">
                                        Marchandises
                                    </label>
                                    <input type="text"  placeholder="NatureOfGoods" name="natureOfGoods" class="form-control col-sm-6" id="cargoType">
                                </div>

                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <label for="" class="col-sm-6">
                                        Transporteur
                                    </label>
                                    <input type="text" placeholder="Transporter" name="transporter" class="form-control col-sm-6" id="transporter">
                                </div>

                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <label for="" class="col-sm-6">
                                        conducteur
                                    </label>
                                    <input type="text" name="driverInfo" placeholder="DriverInfo" class="form-control col-sm-6" id="driver">
                                </div>

                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <label for="" class="col-sm-6">
                                        Immatriculation
                                    </label>
                                    <input type="text" name="truckNumber" placeholder="TruckNum" class="form-control col-sm-6" id="truckNumber">
                                </div>

                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <label for="" class="col-sm-6">
                                       Agent certificateur
                                    </label>
                                    <input type="text" disabled name="certifyingOfficer" value="{{ app.user.username }}" class="form-control col-sm-6" id="certifyingOfficer">
                                </div>

                            </div>


                            {#<div class="form-group">
                                <div class="row">
                                    <label for="" class="col-sm-6">
                                      Date de la pesée 1
                                    </label>
                                    <input type="date" name="weightingDate1" class="form-control col-sm-6" id="weightingDate1">
                                </div>

                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <label for="" class="col-sm-6">
                                        Date de la pesée 2
                                    </label>
                                    <input type="date" name="weightingDate2" class="form-control col-sm-6" id="weightingDate2">
                                </div>

                            </div>#}

                            <div class="form-group">
                                <div class="row">
                                    <label for="" class="col-sm-6">
                                        Pont bascule
                                    </label>
                                    <select class="select col-sm-6 form-control" name="weighBridge">
                                        <option value="0" default>Veuillez selectionnez le pont bascule</option>
                                        <option value="20">Conteneur de 20 Pieds</option>
                                        <option value="40">Conteneur de 40 Pieds</option>
                                    </select>
                                </div>

                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <label for="" class="col-sm-6">
                                        Fichier attachés
                                    </label>
                                    <input type="file" multiple name="attachments[]" class="form-control-file col-sm-6"  id="attachment">
                                </div>

                            </div>
                            <div class="form-group">
                                <button class="btn btn-success"  type="submit">Creer
                                    <i class="zmdi zmdi-collection-add"></i>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}

    <script type="text/javascript">
        $(document).ready(function(){

            document.onkeyup = onFill
            // Defining the local dataset

            // Constructing the suggestion engine
            var cars = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.whitespace,
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                remote:{
                    url:'/dashboard/vgm/gestion-vgm/container/search/%QUERY',
                    wildcard: '%QUERY'
                }
            });


            // Initializing the typeahead
            $('#searchBox').typeahead({
                    hint: true,
                    highlight: true, /* Enable substring highlighting */
                    minLength: 1 /* Specify minimum characters required for showing result */
                },
                {
                    name: 'cars',
                    source: cars.ttAdapter()
                });

            function onFill() {
               var keyCode= (window.event) ? event.keyCode : e.keyCode

                if (keyCode == 9){
                    var number = document.querySelector('#searchBox').value;
                    //get the value from input and search in the database
                    fetch('/dashboard/vgm/gestion-vgm/container/fill/'+number,{
                        method:'GET'
                    }).then(success=>{
                        return success.json()
                       .then(data=>{

                           document.querySelector("#tareWeight").value= data.tareWeight
                           document.querySelector("#containerSize").value= data.containerSize
                           document.querySelector("#natureOfGoods").value= data.goodCode
                           document.querySelector("#company").value= data.label
                           console.log(data)
                       })
                    }).catch(failure =>{

                    })
                }
            }

        });

        const _form=document.getElementById("createVGMForm")


        /*_form.addEventListener('submit',function () {
           const  formData = new FormData(document.getElementById("createVGMForm"))
            const  file= document.querySelector('input[type="file"]')
            console.log(file[0])
            const searchParams = new URLSearchParams();

            for (const pair of formData ){
                searchParams.append(pair[0],pair[1])
            }

            fetch('/dashboard/vgm/gestion-vgm/create',{
                method:"POST",
                body:searchParams
            }).then(success=>{

            }).catch(failure=>{

            })
        })*/
    </script>
{% endblock  %}
