{% extends 'admin/layout.html.twig' %}
{% block sidebar %}
    <aside id="leftsidebar" class="sidebar">
        <div class="navbar-brand">
            <button class="btn-menu ls-toggle-btn" type="button"><i class="zmdi zmdi-menu"></i></button>
            <a href="index.html">
                <span class="m-l-10">Panel Gestion</span>
            </a>
        </div>
        <div class="menu">
            <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: calc(100vh - 65px);"><ul class="list" style="overflow: hidden; width: auto; height: calc(100vh - 65px);">
                    <li>
                        <div class="user-info">
                            <a class="image waves-effect waves-block" href="profile.html">
                                <img src="{{ asset('assets/images/account.png') }}" alt="User">
                            </a>
                            <div class="detail">
                                <h6> <small> {{ app.user.username }}</small></h6>
                                <small>{{ app.user.role.label }}</small>
                            </div>
                        </div>
                    </li>
                    <li class="active open">
                        <a href="{{ path('dashboard-su:index') }}" class="toggled waves-effect waves-block">
                            <i class="zmdi zmdi-home"></i><span>Dashboard</span></a></li>
                    <li>
                        <a href="javascript:void(0);" class="menu-toggle waves-effect waves-block">
                            <i class="zmdi zmdi-apps"></i><span>Modules</span></a>
                        <ul class="ml-menu">
                            <li><a href="mail-inbox.html" class=" waves-effect waves-block">Besc</a></li>
                            <li><a href="events.html" class=" waves-effect waves-block">BOURSE DU FRET</a></li>
                            <li><a href="contact.html" class=" waves-effect waves-block">TRADEPOINT</a></li>
                        </ul>
                    </li>
                    <li class="">
                        <a href="{{ path('dashboardSuUser') }}" class="toggled waves-effect waves-block">
                            <i class="zmdi zmdi-accounts-list"></i>
                            <span>Utilisateurs</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="{{ path('dashboard-su:index') }}" class="toggled waves-effect waves-block">
                            <i class="zmdi zmdi-shopping-basket"></i><span>
                                Tarifs</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="{{ path('dashboard-su-user:country') }}" class="toggled waves-effect waves-block">
                            <i class="zmdi zmdi-globe"></i><span>
                                Pays</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="{{ path('dashboard-su-user:port') }}" class="toggled waves-effect waves-block">
                            <i class="zmdi zmdi-local-shipping"></i><span>
                                Port</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="{{ path('dashboard-su-user:armateur:index') }}" class="toggled waves-effect waves-block">
                            <i class="zmdi zmdi-accounts-list-alt"></i><span>
                                Armateurs</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="{{ path('dashboard-su-user:conteneur:index') }}" class="toggled waves-effect waves-block">
                            <i class="zmdi zmdi-local-shipping"></i><span>
                                Conteneur</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="{{ path('dashboard-su-user:consignataire:index') }}" class="toggled waves-effect waves-block">
                            <i class="zmdi zmdi-accounts-list-alt"></i><span>
                                Consignataires</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="{{ path('dashboard-su-user:consignataire:index') }}" class="toggled waves-effect waves-block">
                            <i class="zmdi zmdi-accounts-list-alt"></i><span>
                                Types de cargo</span>
                        </a>
                    </li>
                    <li>
                    <li>
                </ul>
            </div>
        </div>
    </aside>
{% endblock %}
{% block content %}

    <div class="block-header">
        <div class="row">
            <div class="col-lg-7 col-md-6 col-sm-12">
                <h2>Dashboard</h2>

                <ul class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="index.html"><i class="zmdi zmdi-home"></i> Gestion</a>
                    </li>
                </ul>
                <button class="btn btn-primary btn-icon mobile_menu" type="button"><i
                            class="zmdi zmdi-sort-amount-desc"></i></button>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="card widget_2 big_icon traffic">
                    <div class="body">
                        <h6>Roles</h6>
                        <h2>12% <small class="info">of 100</small></h2>

                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card widget_2 big_icon sales">
                    <div class="body">
                        <h6>Utilisateurs</h6>
                        <h2>12% <small class="info">of 100</small></h2>

                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card widget_2 big_icon domains">
                    <div class="body">
                        <h6>Modules</h6>
                        <h2>8 <small class="info">of 10</small></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
