{% extends'app/vgm/validator/index.html.twig' %}


{% block content %}
    {% for message in app.flashes('success')  %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="card">
            <div class="header">
                <h2><strong>Details de la VGM</strong></h2>
            </div>
            <div class="body">
                <div class="panel-group" id="accordion_1" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-primary">
                        <div class="panel-heading" role="tab" id="headingOne_1">
                            <h4 class="panel-title"> <a role="button" data-toggle="collapse" data-parent="#accordion_1" href="#collapseOne_1" aria-expanded="false" aria-controls="collapseOne_1" class="collapsed"> Information de base</a> </h4>
                        </div>
                        <div id="collapseOne_1" class="panel-collapse in collapse" role="tabpanel" aria-labelledby="headingOne_1" style="">
                            <div class="panel-body">
                                <form action="" method="post">
                                    <div class="form-group row">
                                        <input type="hidden" name="container_id" value="{{ vgmDetails.container_id }}">
                                            <label for="" class="col-form-label col-sm-6">Numero d'identification de la vgm</label>
                                            <input type="number" class="form-control col-sm-6" disabled  placeholder="{{ vgmDetails.vgmNumber }}">
                                    </div>
                                    <div class="form-group row">
                                            <label for="" class="col-form-label col-sm-6">Numero d'agrement</label>
                                            <input type="number" class="form-control col-sm-6" disabled placeholder="{{ vgmDetails.agreementNumber}}">
                                    </div>
                                    <div class="form-group row">
                                            <label for="" class="col-form-label col-sm-6">Numero IFU de la compagnie</label>
                                            <input type="number" class="form-control col-sm-6" disabled placeholder="{{ vgmDetails.companyId}}">
                                    </div>
                                    <div class="form-group row">
                                            <label for="" class="col-form-label col-sm-6">Date du DVT</label>
                                            <input type="number" class="form-control col-sm-6" disabled placeholder="{{ vgmDetails.tvfDate}}">
                                    </div>
                                    <div class="form-group row">
                                            <label for="" class="col-form-label col-sm-6">Conducteur</label>
                                            <input type="number" class="form-control col-sm-6" disabled placeholder="{{ vgmDetails.driver}}">
                                    </div>
                                    <div class="form-group row">
                                            <label for="" class="col-form-label col-sm-6">Numero d'immatriculation </label>
                                            <input type="number" class="form-control col-sm-6" disabled placeholder="{{ vgmDetails.truckNumber}}">
                                    </div>
                                    <div class="form-group row">
                                            <label for="" class="col-form-label col-sm-6">Booking</label>
                                            <input type="number" class="form-control col-sm-6" disabled placeholder="{{ vgmDetails.booking}}">
                                    </div>
                                    <div class="form-group row">
                                            <label for="" class="col-form-label col-sm-6">Exportateur</label>
                                            <input type="text" name="exportateur" class="form-control col-sm-6" value="{{ vgmDetails.label}}">
                                    </div>
                                    <div class="form-group row">
                                            <label for="" class="col-form-label col-sm-6">Poids à vide</label>
                                            <input type="number" class="form-control col-sm-6" disabled placeholder="{{ vgmDetails.tareWeight}}">
                                    </div>
                                    <div class="form-group row">
                                            <label for="" class="col-form-label col-sm-6">Poids net</label>
                                            <input type="number" class="form-control col-sm-6" disabled placeholder="{{ vgmDetails.netWeight}}">
                                    </div>
                                    <div class="form-group row">
                                            <label for="" class="col-form-label col-sm-6">Request time</label>
                                            <input type="number" class="form-control col-sm-6" disabled placeholder="{{ vgmDetails.requestTime | format_datetime(locale="fr")}}">
                                    </div>
                                    <div class="form-group row">
                                            <label for="" class="col-form-label col-sm-6">Agent certificateur</label>
                                            <input type="number" class="form-control col-sm-6" disabled placeholder="{{ vgmDetails._certifyingOfficer}}">
                                    </div>
                                    <div class="form-group row">
                                            <label for="" class="col-form-label col-sm-6">Marchandides</label>
                                            <input type="number" class="form-control col-sm-6" disabled placeholder="{{ vgmDetails.goodCode}}">
                                    </div>

                                    {% if user.payMethod == 2  %}
                                        {% if vgmDetails.state ==0 %}
                                            <h1 class="badge badge-info" style="font-size: 15px">VGM en attente de paiement</h1>
                                            <button class="btn btn-success" type="submit" >Valider et Payer
                                                <i class="zmdi zmdi-paypal"></i>
                                            </button>
                                        {% elseif vgmDetails.state ==1 %}
                                            <h1 class="badge badge-success" style="font-size: 15px">La vgm a bien été payé</h1>
                                        {% elseif vgmDetails.state ==2 %}
                                            <h1 class="badge badge-success" style="font-size: 15px">La vgm a bien été validé</h1>
                                        {% endif %}
                                        {% else %}
                                            <button class="btn btn-success" type="submit" >Valider la VGM
                                                <i class="zmdi zmdi-paypal"></i>
                                            </button>
                                    {% endif %}

                                </form>

                            </div>
                        </div>
                    </div>
                    <div class="panel panel-primary">
                        <div class="panel-heading" role="tab" id="headingThree_1">
                            <h4 class="panel-title"> <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion_1" href="#collapseThree_1" aria-expanded="false" aria-controls="collapseThree_1"> Fichiers attachés  </a> </h4>
                        </div>
                        <div id="collapseThree_1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree_1">
                            <div class="panel-body">
                                {% for attachment in attachments %}
                                    <a class="btn btn-success" href="{{ asset('uploads/brochures/'~attachment.url) }}">
                                        voir
                                        <i class="zmdi zmdi-download"></i>
                                    </a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

