{% extends 'admin/super_user_admin/index.html.twig' %}
{% block content %}
    <div class="body_scroll">
        <div class="block-header">
            <div class="row">

            </div>
        </div>
        <div class="container-fluid">

            {% for message in app.flashes('warning') %}
                <div class="alert alert-warning">
                    {{ message}}
                </div>
            {% endfor %}

            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message}}
                </div>
            {% endfor %}

            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="alert alert-warning" role="alert">
                        <strong>Ajouter un nouveau conteneur</strong>
                    </div>
                    <div class="card">
                        <div class="body">
                            <form method="post">

                                <h2 class="card-inside-title">Informations de bases</h2>
                                <div class="row clearfix">
                                    <div class="col-sm-12">
                                        <p> <b>Selectionner l'armateur</b> </p>
                                        <select class="form-control select2-arrow" name="armateur_id">
                                            {% for armateur in armateurs %}
                                              <option value="{{ armateur.id }}">{{ armateur.label }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="row clearfix my-4">
                                    <div class="col-sm-12">
                                        <p> <b>Entrez le code propriétaire </b> </p>
                                        <input type="text" class="form-control" placeholder="Code proprietaire" name="proprietaryCode">
                                    </div>
                                </div>
                                <div class="row clearfix my-4">
                                    <div class="col-sm-12">
                                        <p> <b>Entrez le code du groupe auquelle appartient le cargo </b> </p>
                                        <input type="text" class="form-control" placeholder="Poids du cargo à vide" name="groupCode">
                                    </div>
                                </div>
                                <div class="row clearfix my-4">
                                    <div class="col-sm-12">
                                        <p> <b>Entrez le type de cargo</b> </p>
                                        <select class="form-control" id="cargoType" name="cargoType">
                                            <option class="" value="0" default>Veuillez selectionner le type de cargo </option>
                                            {% for cargoType in types %}
                                                <option class="" value="{{ cargoType.id }}">{{ cargoType.label }}</option>
                                            {% endfor %}

                                        </select>

                                    </div>
                                </div>
                                <div class="row clearfix my-4">
                                        <div class="col-sm-12">
                                            <p> <b>Taille du conteneur</b> </p>
                                            <select class="select form-control" name="containerSize">
                                                <option value="0" default>Veuillez selectionnez la taille du conteneur</option>
                                                <option value="20">Conteneur de 20 Pieds</option>
                                                <option value="40">Conteneur de 40 Pieds</option>
                                            </select>

                                        </div>
                                </div>
                                <div class="row clearfix my-4">
                                    <div class="col-sm-12">
                                        <p> <b>Entrez le poids du cargo à vide </b> </p>
                                        <input type="number" class="form-control" placeholder="Poids du cargo à vide" name="tareWeight">
                                    </div>
                                </div>

                                <div class="row clearfix my-4">
                                    <div class="col-sm-12">
                                        <p> <b>Entrez le numero d'inscription </b> </p>
                                        <input type="number" class="form-control" placeholder="Numero d'inscription   " name="registerNumber">
                                    </div>
                                </div>
                                <div class="row clearfix my-4">
                                    <div class="col-sm-12">
                                        <p> <b>Entrez le chiffre de verification </b> </p>
                                        <input type="number" class="form-control" placeholder="chiffre de verification" name="verificationCode">
                                    </div>
                                </div>


                                <button type="submit" class="btn btn-success">Ajouter un nouveau conteneur</button>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="card">
                        <div class="header">
                            <h2> <strong>Liste des conteneurs</strong></h2>
                            <ul class="header-dropdown">
                                <li class="dropdown"> <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <i class="zmdi zmdi-more"></i> </a>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li><a href="javascript:void(0);">Action</a></li>
                                        <li><a href="javascript:void(0);">Another action</a></li>
                                        <li><a href="javascript:void(0);">Something else</a></li>
                                    </ul>
                                </li>
                                <li class="remove">
                                    <a role="button" class="boxs-close"><i class="zmdi zmdi-close"></i></a>
                                </li>
                            </ul>
                        </div>
                        <div class="body">
                            <p>Consultez la liste des conteneurs disponible</p>
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>

                                        <th>Numero d'identification</th>
                                        <th>Type de Conteneur</th>
                                        <th>Code proprio</th>

                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for container in containers %}

                                        <tr>

                                            <td>{{ container.identificationNumber }}</td>
                                            <td>{{ container.label }}</td>
                                            <td>{{ container.proprietaireCode }}</td>

                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
